div.email-list {
  width: 1600px;
}

.dynamic_input_fields {
  > .add-dynamic-input-field {
    margin-left: 15px;
    text-decoration: none;
  }

  .dynamic-input-field {
    margin-bottom: 15px;
    > input {
      display: inline;
      width: 95%;
    }
  }

  .delete-dynamic-input-field {
    margin-left: 15px;
    font-size: 18px;
  }

  .moat-tags-area {
    position: relative;
    > .ReactCodeMirror {
      width: 95%;
      display: inline-block;
    }

    > .delete-dynamic-input-field {
      position: absolute;
      top: 25%;
    }
  }
}

.upsert-email {
  .moat-tags-area {
    .ReactCodeMirror {
      height: 103px;
      > .CodeMirror {
        height: 100px;
      }
    }
  }

  div.email-drop-zone {
    >div{
      width: 100% !important;
      height: 100px !important;
      margin-left: auto;
      margin-right: auto;
      padding-top: 5px;
    }

    .prompt {
      text-align: center;
      font-size: 25px;
    }
  }

  button.email-publish {
    margin-right: 10px;
  }

  div.preview-edit {
    border: 1px #5cb85c solid;
    margin-top: 60px;
    margin-bottom: 60px;
    >iframe {
      width: 100%;
      height: 600px;
      border: none;
    }
  }

  .image-preview {
    margin-top: 20px;
    .image-container {
      width: 300px;
      display: inline-block;
      .image-thum {
        height: 200px;
        max-width: 300px;
      }
    }
    .image-info {
      display: inline-block;
      margin-left: 50px;
      vertical-align: middle;
      min-width: 600px;
      .image-action {
        button {
          margin-right: 10px;
        }
      }
      label {
        padding-top: 6px;
      }
    }
  }
}
