div.template-list {
  width: 1400px;
}

textarea.template-html-area {
  height: 600px !important;
}

div.drop-zone {
  >div{
    width: 100% !important;
    height: 300px !important;
    margin-left: auto;
    margin-right: auto;
  }

  .prompt {
    text-align: center;
    font-size: 30px;
    margin-top: 125px;
  }
}
